In [1]:
import sqlite3
import pandas as pd

In [2]:
# Connect to an SQLite database (replace 'your_database_name.db' with your actual database file)
connection = sqlite3.connect('../mydata.db')

In [3]:
cursor = connection.cursor()

# Get a list of table names in the database
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

# Print the table names
for table in tables:
    print(table[0])


# Close the cursor
cursor.close()

maio_2020
junho_2020
julho_2020
agosto_2020
setembro_2020
outubro_2020
novembro_2020

In [4]:
list_tables = {
    'maio_2020',
    'junho_2020',
    'julho_2020',
    'agosto_2020',
    'setembro_2020',
    'outubro_2020',
    'novembro_2020',
}

In [5]:
#read all tables
dfs = []
for table in list_tables:
    dfs.append(pd.read_sql_query("SELECT * from " + table, connection))

In [6]:
# Close connection
connection.close()

In [9]:
dfs[0].head()

,Ano,UF,CAPITAL,RM_RIDE,V1008,V1012,V1013,V1016,Estrato,UPA,...,D0053,D0061,D0063,D0071,D0073,F001,F0021,F0022,F0061,F006
0,2020,11,11.0,NaN,1,4,5,1,1110011,110015970,...,1200.0,2,NaN,2,NaN,1,NaN,NaN,1,2.0
1,2020,11,11.0,NaN,1,4,5,1,1110011,110015970,...,1200.0,2,NaN,2,NaN,1,NaN,NaN,1,2.0
2,2020,11,11.0,NaN,1,4,5,1,1110011,110015970,...,1200.0,2,NaN,2,NaN,1,NaN,NaN,1,2.0
3,2020,11,11.0,NaN,1,4,5,1,1110011,110015970,...,1200.0,2,NaN,2,NaN,1,NaN,NaN,1,2.0
4,2020,11,11.0,NaN,3,2,5,1,1110011,110015970,...,600.0,2,NaN,2,NaN,1,NaN,NaN,1,1.0

In [10]:
dfs[1].head()

,Ano,UF,CAPITAL,RM_RIDE,V1008,V1012,V1013,V1016,Estrato,UPA,...,F001,F0021,F0022,F002A1,F002A2,F002A3,F002A4,F002A5,F0061,F006
0,2020,11,11.0,NaN,1,4,10,6,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,1.0
1,2020,11,11.0,NaN,1,4,10,6,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,1.0
2,2020,11,11.0,NaN,1,4,10,6,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,1.0
3,2020,11,11.0,NaN,1,4,10,6,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,1.0
4,2020,11,11.0,NaN,2,1,10,6,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,1.0

In [11]:
dfs[2].head()

,Ano,UF,CAPITAL,RM_RIDE,V1008,V1012,V1013,V1016,Estrato,UPA,...,D0053,D0061,D0063,D0071,D0073,F001,F0021,F0022,F0061,F006
0,2020,11,11.0,NaN,1,4,6,2,1110011,110015970,...,1200.0,2,NaN,2,NaN,1,NaN,NaN,1,1.0
1,2020,11,11.0,NaN,1,4,6,2,1110011,110015970,...,1200.0,2,NaN,2,NaN,1,NaN,NaN,1,1.0
2,2020,11,11.0,NaN,1,4,6,2,1110011,110015970,...,1200.0,2,NaN,2,NaN,1,NaN,NaN,1,1.0
3,2020,11,11.0,NaN,1,4,6,2,1110011,110015970,...,1200.0,2,NaN,2,NaN,1,NaN,NaN,1,1.0
4,2020,11,11.0,NaN,2,1,6,2,1110011,110015970,...,NaN,2,NaN,2,NaN,1,NaN,NaN,1,1.0

In [13]:
#print all columns names from list of dfs
for df in dfs:
    print(df.columns.tolist())

['Ano', 'UF', 'CAPITAL', 'RM_RIDE', 'V1008', 'V1012', 'V1013', 'V1016', 'Estrato', 'UPA', 'V1022', 'V1023', 'V1030', 'V1031', 'V1032', 'posest', 'A001', 'A001A', 'A001B1', 'A001B2', 'A001B3', 'A002', 'A003', 'A004', 'A005', 'B0011', 'B0012', 'B0013', 'B0014', 'B0015', 'B0016', 'B0017', 'B0018', 'B0019', 'B00110', 'B00111', 'B00112', 'B002', 'B0031', 'B0032', 'B0033', 'B0034', 'B0035', 'B0036', 'B0037', 'B0041', 'B0042', 'B0043', 'B0044', 'B0045', 'B0046', 'B005', 'B006', 'B007', 'C001', 'C002', 'C003', 'C004', 'C005', 'C0051', 'C0052', 'C0053', 'C006', 'C007', 'C007A', 'C007B', 'C007C', 'C007D', 'C007E', 'C007E1', 'C007E2', 'C008', 'C009', 'C010', 'C0101', 'C01011', 'C01012', 'C0102', 'C01021', 'C01022', 'C0103', 'C0104', 'C011A', 'C011A1', 'C011A11', 'C011A12', 'C011A2', 'C011A21', 'C011A22', 'C012', 'C013', 'C014', 'C015', 'C016', 'C017A', 'D0011', 'D0013', 'D0021', 'D0023', 'D0031', 'D0033', 'D0041', 'D0043', 'D0051', 'D0053', 'D0061', 'D0063', 'D0071', 'D0073', 'F001', 'F0021', 'F0022', 'F0061', 'F006']
['Ano', 'UF', 'CAPITAL', 'RM_RIDE', 'V1008', 'V1012', 'V1013', 'V1016', 'Estrato', 'UPA', 'V1022', 'V1023', 'V1030', 'V1031', 'V1032', 'posest', 'A001', 'A001A', 'A001B1', 'A001B2', 'A001B3', 'A002', 'A003', 'A004', 'A005', 'A006', 'A007', 'A008', 'A009', 'B0011', 'B0012', 'B0013', 'B0014', 'B0015', 'B0016', 'B0017', 'B0018', 'B0019', 'B00110', 'B00111', 'B00112', 'B00113', 'B002', 'B0031', 'B0032', 'B0033', 'B0034', 'B0035', 'B0036', 'B0037', 'B0041', 'B0042', 'B0043', 'B0044', 'B0045', 'B0046', 'B005', 'B006', 'B007', 'B008', 'B009A', 'B009B', 'B009C', 'B009D', 'B009E', 'B009F', 'B0101', 'B0102', 'B0103', 'B0104', 'B0105', 'B0106', 'B011', 'C001', 'C002', 'C003', 'C004', 'C005', 'C0051', 'C0052', 'C0053', 'C006', 'C007', 'C007A', 'C007B', 'C007C', 'C007D', 'C007E', 'C007E1', 'C007E2', 'C007F', 'C008', 'C009', 'C009A', 'C010', 'C0101', 'C01011', 'C01012', 'C0102', 'C01021', 'C01022', 'C0103', 'C0104', 'C011A', 'C011A1', 'C011A11', 'C011A12', 'C011A2', 'C011A21', 'C011A22', 'C012', 'C013', 'C014', 'C015', 'C016', 'C017A', 'D0011', 'D0013', 'D0021', 'D0023', 'D0031', 'D0033', 'D0041', 'D0043', 'D0051', 'D0053', 'D0061', 'D0063', 'D0071', 'D0073', 'E001', 'E0021', 'E0022', 'E0023', 'E0024', 'F001', 'F0021', 'F0022', 'F002A1', 'F002A2', 'F002A3', 'F002A4', 'F002A5', 'F0061', 'F006']
['Ano', 'UF', 'CAPITAL', 'RM_RIDE', 'V1008', 'V1012', 'V1013', 'V1016', 'Estrato', 'UPA', 'V1022', 'V1023', 'V1030', 'V1031', 'V1032', 'posest', 'A001', 'A001A', 'A001B1', 'A001B2', 'A001B3', 'A002', 'A003', 'A004', 'A005', 'B0011', 'B0012', 'B0013', 'B0014', 'B0015', 'B0016', 'B0017', 'B0018', 'B0019', 'B00110', 'B00111', 'B00112', 'B002', 'B0031', 'B0032', 'B0033', 'B0034', 'B0035', 'B0036', 'B0037', 'B0041', 'B0042', 'B0043', 'B0044', 'B0045', 'B0046', 'B005', 'B006', 'B007', 'C001', 'C002', 'C003', 'C004', 'C005', 'C0051', 'C0052', 'C0053', 'C006', 'C007', 'C007A', 'C007B', 'C007C', 'C007D', 'C007E', 'C007E1', 'C007E2', 'C008', 'C009', 'C010', 'C0101', 'C01011', 'C01012', 'C0102', 'C01021', 'C01022', 'C0103', 'C0104', 'C011A', 'C011A1', 'C011A11', 'C011A12', 'C011A2', 'C011A21', 'C011A22', 'C012', 'C013', 'C014', 'C015', 'C016', 'C017A', 'D0011', 'D0013', 'D0021', 'D0023', 'D0031', 'D0033', 'D0041', 'D0043', 'D0051', 'D0053', 'D0061', 'D0063', 'D0071', 'D0073', 'F001', 'F0021', 'F0022', 'F0061', 'F006']
['Ano', 'UF', 'CAPITAL', 'RM_RIDE', 'V1008', 'V1012', 'V1013', 'V1016', 'Estrato', 'UPA', 'V1022', 'V1023', 'V1030', 'V1031', 'V1032', 'posest', 'A001', 'A001A', 'A001B1', 'A001B2', 'A001B3', 'A002', 'A003', 'A004', 'A005', 'A006', 'A006A', 'A006B', 'A007', 'A007A', 'A008', 'A009', 'B0011', 'B0012', 'B0013', 'B0014', 'B0015', 'B0016', 'B0017', 'B0018', 'B0019', 'B00110', 'B00111', 'B00112', 'B00113', 'B002', 'B0031', 'B0032', 'B0033', 'B0034', 'B0035', 'B0036', 'B0037', 'B0041', 'B0042', 'B0043', 'B0044', 'B0045', 'B0046', 'B005', 'B006', 'B007', 'B008', 'B009A', 'B009B', 'B009C', 'B009D', 'B009E', 'B009F', 'B0101', 'B0102', 'B0103', 'B0104', 'B0105', 'B0106', 'B011', 'C001', 'C002', 'C003', 'C004', 'C005', 'C0051', 'C0052', 'C0053', 'C006', 'C007', 'C007A', 'C007B', 'C007C', 'C007D', 'C007E', 'C007E1', 'C007E2', 'C007F', 'C008', 'C009', 'C009A', 'C010', 'C0101', 'C01011', 'C01012', 'C0102', 'C01021', 'C01022', 'C0103', 'C0104', 'C011A', 'C011A1', 'C011A11', 'C011A12', 'C011A2', 'C011A21', 'C011A22', 'C012', 'C013', 'C014', 'C015', 'C016', 'C017A', 'D0011', 'D0013', 'D0021', 'D0023', 'D0031', 'D0033', 'D0041', 'D0043', 'D0051', 'D0053', 'D0061', 'D0063', 'D0071', 'D0073', 'E001', 'E0021', 'E0022', 'E0023', 'E0024', 'F001', 'F0021', 'F0022', 'F002A1', 'F002A2', 'F002A3', 'F002A4', 'F002A5', 'F0061', 'F006']
['Ano', 'UF', 'CAPITAL', 'RM_RIDE', 'V1008', 'V1012', 'V1013', 'V1016', 'Estrato', 'UPA', 'V1022', 'V1023', 'V1030', 'V1031', 'V1032', 'posest', 'A001', 'A001A', 'A001B1', 'A001B2', 'A001B3', 'A002', 'A003', 'A004', 'A005', 'A006', 'A007', 'A008', 'A009', 'B0011', 'B0012', 'B0013', 'B0014', 'B0015', 'B0016', 'B0017', 'B0018', 'B0019', 'B00110', 'B00111', 'B00112', 'B00113', 'B002', 'B0031', 'B0032', 'B0033', 'B0034', 'B0035', 'B0036', 'B0037', 'B0041', 'B0042', 'B0043', 'B0044', 'B0045', 'B0046', 'B005', 'B006', 'B007', 'B008', 'B009A', 'B009B', 'B009C', 'B009D', 'B009E', 'B009F', 'B0101', 'B0102', 'B0103', 'B0104', 'B0105', 'B0106', 'B011', 'C001', 'C002', 'C003', 'C004', 'C005', 'C0051', 'C0052', 'C0053', 'C006', 'C007', 'C007A', 'C007B', 'C007C', 'C007D', 'C007E', 'C007E1', 'C007E2', 'C007F', 'C008', 'C009', 'C009A', 'C010', 'C0101', 'C01011', 'C01012', 'C0102', 'C01021', 'C01022', 'C0103', 'C0104', 'C011A', 'C011A1', 'C011A11', 'C011A12', 'C011A2', 'C011A21', 'C011A22', 'C012', 'C013', 'C014', 'C015', 'C016', 'C017A', 'D0011', 'D0013', 'D0021', 'D0023', 'D0031', 'D0033', 'D0041', 'D0043', 'D0051', 'D0053', 'D0061', 'D0063', 'D0071', 'D0073', 'E001', 'E0021', 'E0022', 'E0023', 'E0024', 'F001', 'F0021', 'F0022', 'F002A1', 'F002A2', 'F002A3', 'F002A4', 'F002A5', 'F0061', 'F006']
['Ano', 'UF', 'CAPITAL', 'RM_RIDE', 'V1008', 'V1012', 'V1013', 'V1016', 'Estrato', 'UPA', 'V1022', 'V1023', 'V1030', 'V1031', 'V1032', 'posest', 'A001', 'A001A', 'A001B1', 'A001B2', 'A001B3', 'A002', 'A003', 'A004', 'A005', 'A006', 'A007', 'A008', 'A009', 'B0011', 'B0012', 'B0013', 'B0014', 'B0015', 'B0016', 'B0017', 'B0018', 'B0019', 'B00110', 'B00111', 'B00112', 'B00113', 'B002', 'B0031', 'B0032', 'B0033', 'B0034', 'B0035', 'B0036', 'B0037', 'B0041', 'B0042', 'B0043', 'B0044', 'B0045', 'B0046', 'B005', 'B006', 'B007', 'B008', 'B009A', 'B009B', 'B009C', 'B009D', 'B009E', 'B009F', 'B0101', 'B0102', 'B0103', 'B0104', 'B0105', 'B0106', 'B011', 'C001', 'C002', 'C003', 'C004', 'C005', 'C0051', 'C0052', 'C0053', 'C006', 'C007', 'C007A', 'C007B', 'C007C', 'C007D', 'C007E', 'C007E1', 'C007E2', 'C007F', 'C008', 'C009', 'C009A', 'C010', 'C0101', 'C01011', 'C01012', 'C0102', 'C01021', 'C01022', 'C0103', 'C0104', 'C011A', 'C011A1', 'C011A11', 'C011A12', 'C011A2', 'C011A21', 'C011A22', 'C012', 'C013', 'C014', 'C015', 'C016', 'C017A', 'D0011', 'D0013', 'D0021', 'D0023', 'D0031', 'D0033', 'D0041', 'D0043', 'D0051', 'D0053', 'D0061', 'D0063', 'D0071', 'D0073', 'E001', 'E0021', 'E0022', 'E0023', 'E0024', 'F001', 'F0021', 'F0022', 'F002A1', 'F002A2', 'F002A3', 'F002A4', 'F002A5', 'F0061', 'F006']
['Ano', 'UF', 'CAPITAL', 'RM_RIDE', 'V1008', 'V1012', 'V1013', 'V1016', 'Estrato', 'UPA', 'V1022', 'V1023', 'V1030', 'V1031', 'V1032', 'posest', 'A001', 'A001A', 'A001B1', 'A001B2', 'A001B3', 'A002', 'A003', 'A004', 'A005', 'A006', 'A007', 'A008', 'A009', 'B0011', 'B0012', 'B0013', 'B0014', 'B0015', 'B0016', 'B0017', 'B0018', 'B0019', 'B00110', 'B00111', 'B00112', 'B00113', 'B002', 'B0031', 'B0032', 'B0033', 'B0034', 'B0035', 'B0036', 'B0037', 'B0041', 'B0042', 'B0043', 'B0044', 'B0045', 'B0046', 'B005', 'B006', 'B007', 'B008', 'B009A', 'B009B', 'B009C', 'B009D', 'B009E', 'B009F', 'B0101', 'B0102', 'B0103', 'B0104', 'B0105', 'B0106', 'B011', 'C001', 'C002', 'C003', 'C004', 'C005', 'C0051', 'C0052', 'C0053', 'C006', 'C007', 'C007A', 'C007B', 'C007C', 'C007D', 'C007E', 'C007E1', 'C007E2', 'C007F', 'C008', 'C009', 'C009A', 'C010', 'C0101', 'C01011', 'C01012', 'C0102', 'C01021', 'C01022', 'C0103', 'C0104', 'C011A', 'C011A1', 'C011A11', 'C011A12', 'C011A2', 'C011A21', 'C011A22', 'C012', 'C013', 'C014', 'C015', 'C016', 'C017A', 'D0011', 'D0013', 'D0021', 'D0023', 'D0031', 'D0033', 'D0041', 'D0043', 'D0051', 'D0053', 'D0061', 'D0063', 'D0071', 'D0073', 'E001', 'E0021', 'E0022', 'E0023', 'E0024', 'F001', 'F0021', 'F0022', 'F002A1', 'F002A2', 'F002A3', 'F002A4', 'F002A5', 'F0061', 'F006']

In [15]:
#find common columns on dfs
common_columns = list(set.intersection(*(set(df.columns.tolist()) for df in dfs)))
len(common_columns)

114

In [17]:
# Concatenate all data (only columns on common_columns) into one DataFrame create a column with the name of the table
df = pd.concat([df[common_columns].assign(table=table) for table, df in zip(list_tables, dfs)])
df.shape

(2650459, 115)

In [18]:
#sum the number of lines of all dfs
num_lines = 0
for df in dfs:
    num_lines += df.shape[0]
num_lines

2650459

In [19]:
df

,Ano,UF,CAPITAL,RM_RIDE,V1008,V1012,V1013,V1016,Estrato,UPA,...,F001,F0021,F0022,F002A1,F002A2,F002A3,F002A4,F002A5,F0061,F006
0,2020,11,11.0,NaN,1,4,9,5,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,1.0
1,2020,11,11.0,NaN,1,4,9,5,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,1.0
2,2020,11,11.0,NaN,1,4,9,5,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,1.0
3,2020,11,11.0,NaN,1,4,9,5,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,1.0
4,2020,11,11.0,NaN,2,1,9,5,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
387293,2020,53,53.0,NaN,6,3,9,5,5310220,530009738,...,1,NaN,NaN,1,1,1,2,1,1,3.0
387294,2020,53,53.0,NaN,6,3,9,5,5310220,530009738,...,1,NaN,NaN,1,1,1,2,1,1,3.0
387295,2020,53,53.0,NaN,6,3,9,5,5310220,530009738,...,1,NaN,NaN,1,1,1,2,1,1,3.0
387296,2020,53,53.0,NaN,10,2,9,5,5310220,530009738,...,5,NaN,NaN,1,1,1,1,1,1,2.0
387297,2020,53,53.0,NaN,10,2,9,5,5310220,530009738,...,5,NaN,NaN,1,1,1,1,1,1,2.0

In [22]:
#NaN is string converted to float
df.replace('NaN', float('nan'), inplace=True)

In [23]:
#drop NaN columns
df.dropna(axis=1, how='all', inplace=True)

In [25]:
df['F0021']

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
          ..
387293   NaN
387294   NaN
387295   NaN
387296   NaN
387297   NaN
Name: F0021, Length: 387298, dtype: float64

In [28]:
#check Nan values
df.isna().sum()

Ano             0
UF              0
CAPITAL    297019
RM_RIDE    265045
V1008           0
            ...
F002A3          0
F002A4          0
F002A5          0
F0061           0
F006        20168
Length: 145, dtype: int64

In [29]:
#drop columns with have any NaN value
df.dropna(axis=1, how='any', inplace=True)

In [30]:
df

,Ano,UF,V1008,V1012,V1013,V1016,Estrato,UPA,V1022,V1023,...,D0061,D0071,E001,F001,F002A1,F002A2,F002A3,F002A4,F002A5,F0061
0,2020,11,1,4,9,5,1110011,110015970,1,1,...,2,2,3,1,1,1,1,2,1,1
1,2020,11,1,4,9,5,1110011,110015970,1,1,...,2,2,3,1,1,1,1,2,1,1
2,2020,11,1,4,9,5,1110011,110015970,1,1,...,2,2,3,1,1,1,1,2,1,1
3,2020,11,1,4,9,5,1110011,110015970,1,1,...,2,2,3,1,1,1,1,2,1,1
4,2020,11,2,1,9,5,1110011,110015970,1,1,...,2,2,3,1,1,1,1,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
387293,2020,53,6,3,9,5,5310220,530009738,2,1,...,2,2,3,1,1,1,1,2,1,1
387294,2020,53,6,3,9,5,5310220,530009738,2,1,...,2,2,3,1,1,1,1,2,1,1
387295,2020,53,6,3,9,5,5310220,530009738,2,1,...,2,2,3,1,1,1,1,2,1,1
387296,2020,53,10,2,9,5,5310220,530009738,2,1,...,2,2,3,5,1,1,1,1,1,1
387297,2020,53,10,2,9,5,5310220,530009738,2,1,...,2,2,3,5,1,1,1,1,1,1

In [42]:
df.columns

Index(['Ano', 'UF', 'V1008', 'V1012', 'V1013', 'V1016', 'Estrato', 'UPA',
       'V1022', 'V1023', 'V1030', 'V1031', 'V1032', 'posest', 'A001', 'A001A',
       'A001B1', 'A001B2', 'A001B3', 'A002', 'A003', 'A004', 'A005', 'B0011',
       'B0012', 'B0013', 'B0014', 'B0015', 'B0016', 'B0017', 'B0018', 'B0019',
       'B00110', 'B00111', 'B00112', 'B00113', 'B007', 'B008', 'B0101',
       'B0102', 'B0103', 'B0104', 'B0105', 'B0106', 'B011', 'D0011', 'D0021',
       'D0031', 'D0041', 'D0051', 'D0061', 'D0071', 'E001', 'F001', 'F002A1',
       'F002A2', 'F002A3', 'F002A4', 'F002A5', 'F0061'],
      dtype='object')

In [65]:
#read a xlsx file
df2 = pd.read_excel('../dados_projeto/documentacao/Dicionario_PNAD_COVID_112020_20220621.xls', sheet_name='dicionÃ¡rio pnad covid')

In [66]:
#df2 only columns Unnamed: 1 and Unnamed: 3
df2 = df2[['Unnamed: 1', 'Unnamed: 3']]

In [67]:
#drop NaN rows
df2.dropna(axis=0, how='any', inplace=True)

In [68]:
df2

    Unnamed: 1                                         Unnamed: 3
3          Ano                                  Ano de referÃªncia
4           UF                               Unidade da FederaÃ§Ã£o
31     CAPITAL                                            Capital
58     RM_RIDE  RegiÃ£o Metropolitana e RegiÃ£o Administrativa I...
79       V1008                     NÃºmero de seleÃ§Ã£o do domicÃ­lio
..         ...                                                ...
646     F002A3  No seu domicÃ­lio hÃ¡ os seguintes itens bÃ¡sicos...
649     F002A4  No seu domicÃ­lio hÃ¡ os seguintes itens bÃ¡sicos...
652     F002A5  No seu domicÃ­lio hÃ¡ os seguintes itens bÃ¡sicos...
655      F0061                    Quem respondeu ao questionÃ¡rio?
658       F006  NÃºmero de ordem do morador que prestou as info...

[148 rows x 2 columns]

In [69]:
#create a dict with columns names and description
dict_columns = {}
for index, row in df2.iterrows():
    dict_columns[row['Unnamed: 1']] = row['Unnamed: 3']
dict_columns

{'Ano': 'Ano de referÃªncia',
 'UF': 'Unidade da FederaÃ§Ã£o',
 'CAPITAL': 'Capital',
 'RM_RIDE': 'RegiÃ£o Metropolitana e RegiÃ£o Administrativa Integrada\nde Desenvolvimento',
 'V1008': 'NÃºmero de seleÃ§Ã£o do domicÃ­lio',
 'V1012': 'Semana no mÃªs',
 'V1013': 'MÃªs da pesquisa',
 'V1016': 'NÃºmero da entrevista no domicÃ­lio',
 'Estrato': 'Estrato',
 'UPA': 'UPA',
 'V1022': 'SituaÃ§Ã£o do domicÃ­lio',
 'V1023': 'Tipo de Ã¡rea',
 'V1030': 'ProjeÃ§Ã£o da populaÃ§Ã£o',
 'V1031': 'Peso do domicÃ­lio e das pessoas',
 'V1032': 'Peso do domicÃ­lio e das pessoas',
 'posest': 'DomÃ­nios de projeÃ§Ã£o',
 'A001': 'NÃºmero de ordem',
 'A001A': 'CondiÃ§Ã£o no domicÃ­lio',
 'A001B1': 'Dia de nascimento',
 'A001B2': 'MÃªs de nascimento',
 'A001B3': 'Ano de nascimento',
 'A002': 'Idade do morador ',
 'A003': 'Sexo',
 'A004': 'Cor ou raÃ§a',
 'A005': 'Escolaridade',
 'A006': 'Frequenta escola',
 'A006A': 'A escola / escola ou faculdade que frequenta Ã© pÃºblica ou privada?',
 'A006B': 'VocÃª estÃ¡ tendo aulas presenciais?',
 'A007': 'Na semana passada, _____ foram disponibilizadas atividades escolares para realizar em casa?',
 'A007A': 'Por que nÃ£o realizou as atividades disponibilizadas na semana passada?',
 'A008': 'Na semana passada, em quantos dias _____ dedicou-se Ã s atividades escolares? ',
 'A009': 'Na semana passada, quanto tempo por dia ____ gastou fazendo as atividades escolares?  escolares? ',
 'B0011': 'Na semana passada teve febre?',
 'B0012': 'Na semana passada teve tosse?',
 'B0013': 'Na semana passada teve dor de garganta?',
 'B0014': 'Na semana passada teve dificuldade para respirar?',
 'B0015': 'Na semana passada teve dor de cabeÃ§a?',
 'B0016': 'Na semana passada teve dor no peito?',
 'B0017': 'Na semana passada teve nÃ¡usea?',
 'B0018': 'Na semana passada teve nariz entupido ou escorrendo?',
 'B0019': 'Na semana passada teve fadiga?',
 'B00110': 'Na semana passada teve dor nos olhos?',
 'B00111': 'Na semana passada teve perda de cheiro ou sabor?',
 'B00112': 'Na semana passada teve dor muscular?',
 'B00113': 'Na semana passada teve diarreia?',
 'B002': 'Por causa disso, foi a algum estabelecimento de saÃºde?',
 'B0031': 'ProvidÃªncia tomada para recuperar dos sintomas foi ficar em casa',
 'B0032': 'ProvidÃªncia tomada para recuperar dos sintomas foi ligar para algum profissional de saÃºde',
 'B0033': 'ProvidÃªncia tomada  para recuperar dos sintomas foi comprar e/ou tomar  remÃ©dio por conta prÃ³pria',
 'B0034': 'ProvidÃªncia tomada para recuperar dos sintomas foi comprar e/ou tomar remÃ©dio por orientaÃ§Ã£o mÃ©dica',
 'B0035': 'ProvidÃªncia tomada para recuperar dos sintomas foi receber visita de algum profissional de saÃºde do SUS (equipe de saÃºde da famÃ­lia, agente comunitÃ¡rio, etc.)',
 'B0036': 'ProvidÃªncia tomada para recuperar dos sintomas foi receber visita de profissional de saÃºde particular ',
 'B0037': 'ProvidÃªncia tomada para recuperar dos sintomas foi outra',
 'B0041': 'Local que buscou atendimento foi posto de saÃºde/Unidade bÃ¡sica de saÃºde /Equipe de SaÃºde da FamÃ­lia (mÃ©dico, enfermeiro, tÃ©cnico de enfermagem ou agente comunitÃ¡rio de saÃºde)',
 'B0042': 'Local que buscou atendimento foi pronto socorro do SUS/UPA',
 'B0043': 'Local que buscou atendimento foi hospital do SUS',
 'B0044': 'Local que buscou atendimento foi ambulatÃ³rio ou consultÃ³rio privado ou ligado Ã s forÃ§as armadas',
 'B0045': 'Local que buscou atendimento foi pronto socorro privado ou ligado Ã s forÃ§as armadas',
 'B0046': 'Local que buscou atendimento foi hospital privado ou ligado Ã s forÃ§as armadas',
 'B005': 'Ao procurar o hospital, teve que ficar internado por um dia ou mais',
 'B006': 'Durante a internaÃ§Ã£o, foi sedado, entubado e colocado em respiraÃ§Ã£o artificial com ventilador',
 'B007': 'Tem algum plano de saÃºde mÃ©dico, seja particular, de empresa ou de Ã³rgÃ£o pÃºblico',
 'B008': 'O(A) Sr(a) fez algum teste para saber se estava infectado(a) pelo coronavÃ­rus? ',
 'B009A': 'Fez o exame coletado com cotonete na boca e/ou nariz (SWAB)? ',
 'B009B': 'Qual o resultado?',
 'B009C': 'Fez o exame de coleta de sangue atravÃ©s de furo no dedo?',
 'B009D': 'Qual o resultado?',
 'B009E': 'Fez o exame de coleta de sangue atravÃ©s da veia da braÃ§o?',
 'B009F': 'Qual o resultado?',
 'B0101': 'Algum mÃ©dico jÃ¡ lhe deu o diagnÃ³stico de diabetes?',
 'B0102': 'Algum mÃ©dico jÃ¡ lhe deu o diagnÃ³stico de hipertensÃ£o?',
 'B0103': 'Algum mÃ©dico jÃ¡ lhe deu o diagnÃ³stico de asma/bronquite/enfisema/doenÃ§as respiratÃ³ria crÃ´nica ou doenÃ§a de pulmÃ£o?',
 'B0104': 'Algum mÃ©dico jÃ¡ lhe deu o diagnÃ³stico de doenÃ§as do coraÃ§Ã£o (infarto, angina, insuficiÃªncia cardÃ­aca, arritmia)?',
 'B0105': 'Algum mÃ©dico jÃ¡ lhe deu o diagnÃ³stico de depressÃ£o?',
 'B0106': 'Algum mÃ©dico jÃ¡ lhe deu o diagnÃ³stico de cÃ¢ncer?',
 'B011': 'Qual foi o resultado do teste?  Na semana passada, devido Ã  pandemia do CoronavÃ­rus, em que medida o(a) Sr(a) restringiu o contato com as pessoas? ',
 'C001': 'Na semana passada, por pelo menos uma hora, trabalhou ou fez algum bico?',
 'C002': 'Na semana passada, estava temporariamente afastado de algum trabalho?',
 'C003': 'Qual o principal motivo deste afastamento temporÃ¡rio?',
 'C004': 'Continuou a ser remunerado (mesmo que parcialmente) por esse trabalho',
 'C005': 'HÃ¡ quanto tempo estÃ¡ afastado desse trabalho?',
 'C0051': ' tempo que estava afastado (De 1 mÃªs a menos de 1 ano) ',
 'C0052': 'tempo que estava afastado (De 1 ano a menos de 2 anos) ',
 'C0053': 'tempo que estava afastado (de 02 anos a 98 anos) ',
 'C006': 'Tem mais de um trabalho',
 'C007': 'No trabalho (Ãºnico ou principal) que tinha nessa semana, era:',
 'C007A': 'Esse trabalho era na Ã¡rea:',
 'C007B': 'Tem carteira de trabalho assinada ou Ã© funcionÃ¡rio pÃºblico estatutÃ¡rio?',
 'C007C': 'Que tipo de trabalho, cargo ou funÃ§Ã£o vocÃª realiza no seu trabalho (Ãºnico ou principal)? ',
 'C007D': 'Qual Ã© a principal atividade do local ou empresa em que vocÃª trabalha? ',
 'C007E': 'Na semana passada, quantos empregados trabalhavam nesse negÃ³cio/empresa que ... tinha ?',
 'C007E1': '1 a 5 empregados',
 'C007E2': '6 a 10 empregados',
 'C007F': 'No trabalho (Ãºnico ou principal) que tinha nessa semana, o(a) Sr(a) estava com o contrato de trabalho suspenso?',
 'C008': 'Quantas horas, por semana, normalmente trabalhava?',
 'C009': 'Quantas horas, na semana passada, de fato trabalhou?',
 'C009A': 'Na semana passada, o(a) Sr(a) gostaria de ter trabalhado mais horas do que as de fato trabalhadas? ',
 'C010': 'Quanto recebia (ou retirava) normalmente em todos os seus trabalhos',
 'C0101': 'Recebia/retirava normalmente em dinheiro',
 'C01011': 'NÃºmero da faixa do rendimento/retirada em dinheiro',
 'C01012': 'Valor em dinheiro',
 'C0102': 'Recebia normalmente em produtos e mercadorias',
 'C01021': 'NÃºmero da faixa do rendimento/retirada em produtos e mercadorias',
 'C01022': 'Valor em produtos e mercadorias',
 'C0103': 'Recebia normalmente somente em benefÃ­cios',
 'C0104': 'Era nÃ£o remunerado',
 'C011A': 'Quanto recebia (ou retirava) efetivamente em todos os seus trabalhos',
 'C011A1': 'Recebia/retirava efetivamente em dinheiro',
 'C011A11': 'NÃºmero da faixa do rendimento/retirada em dinheiro',
 'C011A12': 'Valor em dinheiro',
 'C011A2': 'Recebia efetivamente em produtos e mercadorias',
 'C011A21': 'NÃºmero da faixa do rendimento/retirada em produtos e mercadorias',
 'C011A22': 'Valor em produtos e mercadorias',
 'C012': 'Na maior parte do tempo, na semana passada, esse trabalho (Ãºnico ou principal) foi exercido no mesmo local em que costuma trabalhar? ',
 'C013': 'Na semana passada, o(a) Sr(a) estava em trabalho remoto (home office ou teletrabalho)?',
 'C014': 'O(A) Sr(a) contribui para o INSS?  ',
 'C015': 'Na semana passada ___ tomou alguma providÃªncia efetiva para conseguir trabalho?  ',
 'C016': 'Qual o principal motivo de nÃ£o ter procurado trabalho na semana passada? ',
 'C017A': 'Embora vocÃª nÃ£o tenha procurado trabalho, gostaria de ter trabalhado na semana passada?',
 'D0011': 'Rendimento recebido de aposentadoria e pensÃ£o por todos os moradores',
 'D0013': 'SomatÃ³rio dos valores recebidos',
 'D0021': 'Rendimento de pensÃ£o alimentÃ­cia, doaÃ§Ã£o ou mesada em dinheiro de pessoa que nÃ£o morava no domicÃ­lio',
 'D0023': 'SomatÃ³rio dos valores recebidos',
 'D0031': 'Rendimentos de Programa Bolsa FamÃ­lia',
 'D0033': 'SomatÃ³rio dos valores recebidos',
 'D0041': ' No mÃªs de ... (mÃªs de referÃªncia), ... recebeu rendimentos de BenefÃ­cio Assistencial de PrestaÃ§Ã£o Continuada â€“ BPC-LOAS?',
 'D0043': 'SomatÃ³rio dos valores recebidos',
 'D0051': 'AuxÃ­lios emergenciais relacionados ao coronavirus',
 'D0053': 'SomatÃ³rio dos valores recebidos',
 'D0061': 'Seguro desemprego',
 'D0063': 'SomatÃ³rio dos valores recebidos',
 'D0071': 'Outros rendimentos, como aluguel, arrendamento, previdÃªncia privada, bolsa de estudos, rendimentos de aplicaÃ§Ã£o financeira etc.',
 'D0073': 'SomatÃ³rio dos valores recebidos',
 'E001': 'Durante o perÃ­odo da pandemia alguÃ©m deste domicÃ­lio solicitou algum emprÃ©stimo?  ',
 'E0021': 'Este emprÃ©stimo foi adquirido com banco ou financeira',
 'E0022': 'Este emprÃ©stimo foi adquirido com parente ou amigo',
 'E0023': 'Este emprÃ©stimo foi adquirido com empregados ou patrÃ£o',
 'E0024': 'Este emprÃ©stimo foi adquirido com outro local ou pessoa',
 'F001': 'Este domicÃ­lio Ã©: ',
 'F0021': 'Qual foi o valor mensal do aluguel pago, ou que deveria ter sido pago, no mÃªs de referÃªncia?',
 'F0022': 'NÃºmero da faixa do aluguel pago',
 'F002A1': 'No seu domicÃ­lio hÃ¡ os seguintes itens bÃ¡sicos de limpeza e proteÃ§Ã£o: sabÃ£o ou detergente',
 'F002A2': 'No seu domicÃ­lio hÃ¡ os seguintes itens bÃ¡sicos de limpeza e proteÃ§Ã£o: Ã¡lcool 70% ou superior (gel ou lÃ­quido)',
 'F002A3': 'No seu domicÃ­lio hÃ¡ os seguintes itens bÃ¡sicos de limpeza e proteÃ§Ã£o: mÃ¡scaras',
 'F002A4': 'No seu domicÃ­lio hÃ¡ os seguintes itens bÃ¡sicos de limpeza e proteÃ§Ã£o: luvas descartÃ¡veis',
 'F002A5': 'No seu domicÃ­lio hÃ¡ os seguintes itens bÃ¡sicos de limpeza e proteÃ§Ã£o: Ã¡gua sanitÃ¡ria ou desinfetante',
 'F0061': 'Quem respondeu ao questionÃ¡rio?',
 'F006': 'NÃºmero de ordem do morador que prestou as informaÃ§Ãµes'}

In [70]:
#count keys on dict_columns
len(dict_columns.keys())

148

In [71]:
#remove keys from dict_columns that are not in common_columns
dict_columns = {key: dict_columns[key] for key in dict_columns.keys() & common_columns}
dict_columns

{'A002': 'Idade do morador ',
 'C0103': 'Recebia normalmente somente em benefÃ­cios',
 'C005': 'HÃ¡ quanto tempo estÃ¡ afastado desse trabalho?',
 'C007': 'No trabalho (Ãºnico ou principal) que tinha nessa semana, era:',
 'D0063': 'SomatÃ³rio dos valores recebidos',
 'F006': 'NÃºmero de ordem do morador que prestou as informaÃ§Ãµes',
 'V1023': 'Tipo de Ã¡rea',
 'B0046': 'Local que buscou atendimento foi hospital privado ou ligado Ã s forÃ§as armadas',
 'C009': 'Quantas horas, na semana passada, de fato trabalhou?',
 'D0031': 'Rendimentos de Programa Bolsa FamÃ­lia',
 'RM_RIDE': 'RegiÃ£o Metropolitana e RegiÃ£o Administrativa Integrada\nde Desenvolvimento',
 'A001': 'NÃºmero de ordem',
 'B0013': 'Na semana passada teve dor de garganta?',
 'D0061': 'Seguro desemprego',
 'A003': 'Sexo',
 'C0104': 'Era nÃ£o remunerado',
 'B0041': 'Local que buscou atendimento foi posto de saÃºde/Unidade bÃ¡sica de saÃºde /Equipe de SaÃºde da FamÃ­lia (mÃ©dico, enfermeiro, tÃ©cnico de enfermagem ou agente comunitÃ¡rio de saÃºde)',
 'C017A': 'Embora vocÃª nÃ£o tenha procurado trabalho, gostaria de ter trabalhado na semana passada?',
 'C0101': 'Recebia/retirava normalmente em dinheiro',
 'C015': 'Na semana passada ___ tomou alguma providÃªncia efetiva para conseguir trabalho?  ',
 'D0073': 'SomatÃ³rio dos valores recebidos',
 'D0033': 'SomatÃ³rio dos valores recebidos',
 'B0037': 'ProvidÃªncia tomada para recuperar dos sintomas foi outra',
 'C002': 'Na semana passada, estava temporariamente afastado de algum trabalho?',
 'B0012': 'Na semana passada teve tosse?',
 'C011A1': 'Recebia/retirava efetivamente em dinheiro',
 'D0023': 'SomatÃ³rio dos valores recebidos',
 'C007C': 'Que tipo de trabalho, cargo ou funÃ§Ã£o vocÃª realiza no seu trabalho (Ãºnico ou principal)? ',
 'V1013': 'MÃªs da pesquisa',
 'B0035': 'ProvidÃªncia tomada para recuperar dos sintomas foi receber visita de algum profissional de saÃºde do SUS (equipe de saÃºde da famÃ­lia, agente comunitÃ¡rio, etc.)',
 'C011A': 'Quanto recebia (ou retirava) efetivamente em todos os seus trabalhos',
 'B0033': 'ProvidÃªncia tomada  para recuperar dos sintomas foi comprar e/ou tomar  remÃ©dio por conta prÃ³pria',
 'C0052': 'tempo que estava afastado (De 1 ano a menos de 2 anos) ',
 'C0053': 'tempo que estava afastado (de 02 anos a 98 anos) ',
 'B0011': 'Na semana passada teve febre?',
 'B0042': 'Local que buscou atendimento foi pronto socorro do SUS/UPA',
 'C0102': 'Recebia normalmente em produtos e mercadorias',
 'C01012': 'Valor em dinheiro',
 'C0051': ' tempo que estava afastado (De 1 mÃªs a menos de 1 ano) ',
 'B00110': 'Na semana passada teve dor nos olhos?',
 'B002': 'Por causa disso, foi a algum estabelecimento de saÃºde?',
 'F0061': 'Quem respondeu ao questionÃ¡rio?',
 'C003': 'Qual o principal motivo deste afastamento temporÃ¡rio?',
 'C004': 'Continuou a ser remunerado (mesmo que parcialmente) por esse trabalho',
 'A001B2': 'MÃªs de nascimento',
 'Ano': 'Ano de referÃªncia',
 'C011A21': 'NÃºmero da faixa do rendimento/retirada em produtos e mercadorias',
 'C016': 'Qual o principal motivo de nÃ£o ter procurado trabalho na semana passada? ',
 'B0017': 'Na semana passada teve nÃ¡usea?',
 'V1012': 'Semana no mÃªs',
 'C007A': 'Esse trabalho era na Ã¡rea:',
 'F0022': 'NÃºmero da faixa do aluguel pago',
 'C01021': 'NÃºmero da faixa do rendimento/retirada em produtos e mercadorias',
 'V1022': 'SituaÃ§Ã£o do domicÃ­lio',
 'B0043': 'Local que buscou atendimento foi hospital do SUS',
 'Estrato': 'Estrato',
 'D0021': 'Rendimento de pensÃ£o alimentÃ­cia, doaÃ§Ã£o ou mesada em dinheiro de pessoa que nÃ£o morava no domicÃ­lio',
 'C012': 'Na maior parte do tempo, na semana passada, esse trabalho (Ãºnico ou principal) foi exercido no mesmo local em que costuma trabalhar? ',
 'V1031': 'Peso do domicÃ­lio e das pessoas',
 'B0036': 'ProvidÃªncia tomada para recuperar dos sintomas foi receber visita de profissional de saÃºde particular ',
 'C007D': 'Qual Ã© a principal atividade do local ou empresa em que vocÃª trabalha? ',
 'C006': 'Tem mais de um trabalho',
 'C007E1': '1 a 5 empregados',
 'C008': 'Quantas horas, por semana, normalmente trabalhava?',
 'B006': 'Durante a internaÃ§Ã£o, foi sedado, entubado e colocado em respiraÃ§Ã£o artificial com ventilador',
 'B0014': 'Na semana passada teve dificuldade para respirar?',
 'B0018': 'Na semana passada teve nariz entupido ou escorrendo?',
 'C01022': 'Valor em produtos e mercadorias',
 'V1008': 'NÃºmero de seleÃ§Ã£o do domicÃ­lio',
 'UPA': 'UPA',
 'B0016': 'Na semana passada teve dor no peito?',
 'CAPITAL': 'Capital',
 'C010': 'Quanto recebia (ou retirava) normalmente em todos os seus trabalhos',
 'A001B3': 'Ano de nascimento',
 'D0053': 'SomatÃ³rio dos valores recebidos',
 'C007E2': '6 a 10 empregados',
 'D0043': 'SomatÃ³rio dos valores recebidos',
 'B0031': 'ProvidÃªncia tomada para recuperar dos sintomas foi ficar em casa',
 'B0015': 'Na semana passada teve dor de cabeÃ§a?',
 'B005': 'Ao procurar o hospital, teve que ficar internado por um dia ou mais',
 'C011A22': 'Valor em produtos e mercadorias',
 'C007E': 'Na semana passada, quantos empregados trabalhavam nesse negÃ³cio/empresa que ... tinha ?',
 'B0019': 'Na semana passada teve fadiga?',
 'D0071': 'Outros rendimentos, como aluguel, arrendamento, previdÃªncia privada, bolsa de estudos, rendimentos de aplicaÃ§Ã£o financeira etc.',
 'V1032': 'Peso do domicÃ­lio e das pessoas',
 'V1016': 'NÃºmero da entrevista no domicÃ­lio',
 'D0051': 'AuxÃ­lios emergenciais relacionados ao coronavirus',
 'F001': 'Este domicÃ­lio Ã©: ',
 'C013': 'Na semana passada, o(a) Sr(a) estava em trabalho remoto (home office ou teletrabalho)?',
 'B0044': 'Local que buscou atendimento foi ambulatÃ³rio ou consultÃ³rio privado ou ligado Ã s forÃ§as armadas',
 'A001B1': 'Dia de nascimento',
 'B00111': 'Na semana passada teve perda de cheiro ou sabor?',
 'B0045': 'Local que buscou atendimento foi pronto socorro privado ou ligado Ã s forÃ§as armadas',
 'D0013': 'SomatÃ³rio dos valores recebidos',
 'V1030': 'ProjeÃ§Ã£o da populaÃ§Ã£o',
 'A001A': 'CondiÃ§Ã£o no domicÃ­lio',
 'D0011': 'Rendimento recebido de aposentadoria e pensÃ£o por todos os moradores',
 'F0021': 'Qual foi o valor mensal do aluguel pago, ou que deveria ter sido pago, no mÃªs de referÃªncia?',
 'C01011': 'NÃºmero da faixa do rendimento/retirada em dinheiro',
 'B0034': 'ProvidÃªncia tomada para recuperar dos sintomas foi comprar e/ou tomar remÃ©dio por orientaÃ§Ã£o mÃ©dica',
 'D0041': ' No mÃªs de ... (mÃªs de referÃªncia), ... recebeu rendimentos de BenefÃ­cio Assistencial de PrestaÃ§Ã£o Continuada â€“ BPC-LOAS?',
 'posest': 'DomÃ­nios de projeÃ§Ã£o',
 'B0032': 'ProvidÃªncia tomada para recuperar dos sintomas foi ligar para algum profissional de saÃºde',
 'B00112': 'Na semana passada teve dor muscular?',
 'C011A11': 'NÃºmero da faixa do rendimento/retirada em dinheiro',
 'A004': 'Cor ou raÃ§a',
 'B007': 'Tem algum plano de saÃºde mÃ©dico, seja particular, de empresa ou de Ã³rgÃ£o pÃºblico',
 'C007B': 'Tem carteira de trabalho assinada ou Ã© funcionÃ¡rio pÃºblico estatutÃ¡rio?',
 'C011A12': 'Valor em dinheiro',
 'C001': 'Na semana passada, por pelo menos uma hora, trabalhou ou fez algum bico?',
 'A005': 'Escolaridade',
 'UF': 'Unidade da FederaÃ§Ã£o',
 'C014': 'O(A) Sr(a) contribui para o INSS?  ',
 'C011A2': 'Recebia efetivamente em produtos e mercadorias'}

In [72]:
#count keys on dict_columns
len(dict_columns.keys())

114

In [73]:
#create a new column with the description of the column
for column in common_columns:
    df[column] = df[column].astype(str) + ' - ' + dict_columns[column]

KeyError: 'C0103'