In [1]:
import sqlite3
import pandas as pd

In [2]:
# Connect to an SQLite database (replace 'your_database_name.db' with your actual database file)
connection = sqlite3.connect('../mydata.db')

In [3]:
cursor = connection.cursor()

# Get a list of table names in the database
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

# Print the table names
for table in tables:
    print(table[0])


# Close the cursor
cursor.close()

maio_2020
junho_2020
julho_2020
agosto_2020
setembro_2020
outubro_2020
novembro_2020

In [4]:
list_tables = {
    'maio_2020',
    'junho_2020',
    'julho_2020',
    'agosto_2020',
    'setembro_2020',
    'outubro_2020',
    'novembro_2020',
}

In [5]:
#read all tables
dfs = []
for table in list_tables:
    dfs.append(pd.read_sql_query("SELECT * from " + table, connection))

In [6]:
# Close connection
connection.close()

In [9]:
dfs[0].head()

,Ano,UF,CAPITAL,RM_RIDE,V1008,V1012,V1013,V1016,Estrato,UPA,...,D0053,D0061,D0063,D0071,D0073,F001,F0021,F0022,F0061,F006
0,2020,11,11.0,NaN,1,4,5,1,1110011,110015970,...,1200.0,2,NaN,2,NaN,1,NaN,NaN,1,2.0
1,2020,11,11.0,NaN,1,4,5,1,1110011,110015970,...,1200.0,2,NaN,2,NaN,1,NaN,NaN,1,2.0
2,2020,11,11.0,NaN,1,4,5,1,1110011,110015970,...,1200.0,2,NaN,2,NaN,1,NaN,NaN,1,2.0
3,2020,11,11.0,NaN,1,4,5,1,1110011,110015970,...,1200.0,2,NaN,2,NaN,1,NaN,NaN,1,2.0
4,2020,11,11.0,NaN,3,2,5,1,1110011,110015970,...,600.0,2,NaN,2,NaN,1,NaN,NaN,1,1.0

In [10]:
dfs[1].head()

,Ano,UF,CAPITAL,RM_RIDE,V1008,V1012,V1013,V1016,Estrato,UPA,...,F001,F0021,F0022,F002A1,F002A2,F002A3,F002A4,F002A5,F0061,F006
0,2020,11,11.0,NaN,1,4,10,6,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,1.0
1,2020,11,11.0,NaN,1,4,10,6,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,1.0
2,2020,11,11.0,NaN,1,4,10,6,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,1.0
3,2020,11,11.0,NaN,1,4,10,6,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,1.0
4,2020,11,11.0,NaN,2,1,10,6,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,1.0

In [11]:
dfs[2].head()

,Ano,UF,CAPITAL,RM_RIDE,V1008,V1012,V1013,V1016,Estrato,UPA,...,D0053,D0061,D0063,D0071,D0073,F001,F0021,F0022,F0061,F006
0,2020,11,11.0,NaN,1,4,6,2,1110011,110015970,...,1200.0,2,NaN,2,NaN,1,NaN,NaN,1,1.0
1,2020,11,11.0,NaN,1,4,6,2,1110011,110015970,...,1200.0,2,NaN,2,NaN,1,NaN,NaN,1,1.0
2,2020,11,11.0,NaN,1,4,6,2,1110011,110015970,...,1200.0,2,NaN,2,NaN,1,NaN,NaN,1,1.0
3,2020,11,11.0,NaN,1,4,6,2,1110011,110015970,...,1200.0,2,NaN,2,NaN,1,NaN,NaN,1,1.0
4,2020,11,11.0,NaN,2,1,6,2,1110011,110015970,...,NaN,2,NaN,2,NaN,1,NaN,NaN,1,1.0

In [13]:
#print all columns names from list of dfs
for df in dfs:
    print(df.columns.tolist())

['Ano', 'UF', 'CAPITAL', 'RM_RIDE', 'V1008', 'V1012', 'V1013', 'V1016', 'Estrato', 'UPA', 'V1022', 'V1023', 'V1030', 'V1031', 'V1032', 'posest', 'A001', 'A001A', 'A001B1', 'A001B2', 'A001B3', 'A002', 'A003', 'A004', 'A005', 'B0011', 'B0012', 'B0013', 'B0014', 'B0015', 'B0016', 'B0017', 'B0018', 'B0019', 'B00110', 'B00111', 'B00112', 'B002', 'B0031', 'B0032', 'B0033', 'B0034', 'B0035', 'B0036', 'B0037', 'B0041', 'B0042', 'B0043', 'B0044', 'B0045', 'B0046', 'B005', 'B006', 'B007', 'C001', 'C002', 'C003', 'C004', 'C005', 'C0051', 'C0052', 'C0053', 'C006', 'C007', 'C007A', 'C007B', 'C007C', 'C007D', 'C007E', 'C007E1', 'C007E2', 'C008', 'C009', 'C010', 'C0101', 'C01011', 'C01012', 'C0102', 'C01021', 'C01022', 'C0103', 'C0104', 'C011A', 'C011A1', 'C011A11', 'C011A12', 'C011A2', 'C011A21', 'C011A22', 'C012', 'C013', 'C014', 'C015', 'C016', 'C017A', 'D0011', 'D0013', 'D0021', 'D0023', 'D0031', 'D0033', 'D0041', 'D0043', 'D0051', 'D0053', 'D0061', 'D0063', 'D0071', 'D0073', 'F001', 'F0021', 'F0022', 'F0061', 'F006']
['Ano', 'UF', 'CAPITAL', 'RM_RIDE', 'V1008', 'V1012', 'V1013', 'V1016', 'Estrato', 'UPA', 'V1022', 'V1023', 'V1030', 'V1031', 'V1032', 'posest', 'A001', 'A001A', 'A001B1', 'A001B2', 'A001B3', 'A002', 'A003', 'A004', 'A005', 'A006', 'A007', 'A008', 'A009', 'B0011', 'B0012', 'B0013', 'B0014', 'B0015', 'B0016', 'B0017', 'B0018', 'B0019', 'B00110', 'B00111', 'B00112', 'B00113', 'B002', 'B0031', 'B0032', 'B0033', 'B0034', 'B0035', 'B0036', 'B0037', 'B0041', 'B0042', 'B0043', 'B0044', 'B0045', 'B0046', 'B005', 'B006', 'B007', 'B008', 'B009A', 'B009B', 'B009C', 'B009D', 'B009E', 'B009F', 'B0101', 'B0102', 'B0103', 'B0104', 'B0105', 'B0106', 'B011', 'C001', 'C002', 'C003', 'C004', 'C005', 'C0051', 'C0052', 'C0053', 'C006', 'C007', 'C007A', 'C007B', 'C007C', 'C007D', 'C007E', 'C007E1', 'C007E2', 'C007F', 'C008', 'C009', 'C009A', 'C010', 'C0101', 'C01011', 'C01012', 'C0102', 'C01021', 'C01022', 'C0103', 'C0104', 'C011A', 'C011A1', 'C011A11', 'C011A12', 'C011A2', 'C011A21', 'C011A22', 'C012', 'C013', 'C014', 'C015', 'C016', 'C017A', 'D0011', 'D0013', 'D0021', 'D0023', 'D0031', 'D0033', 'D0041', 'D0043', 'D0051', 'D0053', 'D0061', 'D0063', 'D0071', 'D0073', 'E001', 'E0021', 'E0022', 'E0023', 'E0024', 'F001', 'F0021', 'F0022', 'F002A1', 'F002A2', 'F002A3', 'F002A4', 'F002A5', 'F0061', 'F006']
['Ano', 'UF', 'CAPITAL', 'RM_RIDE', 'V1008', 'V1012', 'V1013', 'V1016', 'Estrato', 'UPA', 'V1022', 'V1023', 'V1030', 'V1031', 'V1032', 'posest', 'A001', 'A001A', 'A001B1', 'A001B2', 'A001B3', 'A002', 'A003', 'A004', 'A005', 'B0011', 'B0012', 'B0013', 'B0014', 'B0015', 'B0016', 'B0017', 'B0018', 'B0019', 'B00110', 'B00111', 'B00112', 'B002', 'B0031', 'B0032', 'B0033', 'B0034', 'B0035', 'B0036', 'B0037', 'B0041', 'B0042', 'B0043', 'B0044', 'B0045', 'B0046', 'B005', 'B006', 'B007', 'C001', 'C002', 'C003', 'C004', 'C005', 'C0051', 'C0052', 'C0053', 'C006', 'C007', 'C007A', 'C007B', 'C007C', 'C007D', 'C007E', 'C007E1', 'C007E2', 'C008', 'C009', 'C010', 'C0101', 'C01011', 'C01012', 'C0102', 'C01021', 'C01022', 'C0103', 'C0104', 'C011A', 'C011A1', 'C011A11', 'C011A12', 'C011A2', 'C011A21', 'C011A22', 'C012', 'C013', 'C014', 'C015', 'C016', 'C017A', 'D0011', 'D0013', 'D0021', 'D0023', 'D0031', 'D0033', 'D0041', 'D0043', 'D0051', 'D0053', 'D0061', 'D0063', 'D0071', 'D0073', 'F001', 'F0021', 'F0022', 'F0061', 'F006']
['Ano', 'UF', 'CAPITAL', 'RM_RIDE', 'V1008', 'V1012', 'V1013', 'V1016', 'Estrato', 'UPA', 'V1022', 'V1023', 'V1030', 'V1031', 'V1032', 'posest', 'A001', 'A001A', 'A001B1', 'A001B2', 'A001B3', 'A002', 'A003', 'A004', 'A005', 'A006', 'A006A', 'A006B', 'A007', 'A007A', 'A008', 'A009', 'B0011', 'B0012', 'B0013', 'B0014', 'B0015', 'B0016', 'B0017', 'B0018', 'B0019', 'B00110', 'B00111', 'B00112', 'B00113', 'B002', 'B0031', 'B0032', 'B0033', 'B0034', 'B0035', 'B0036', 'B0037', 'B0041', 'B0042', 'B0043', 'B0044', 'B0045', 'B0046', 'B005', 'B006', 'B007', 'B008', 'B009A', 'B009B', 'B009C', 'B009D', 'B009E', 'B009F', 'B0101', 'B0102', 'B0103', 'B0104', 'B0105', 'B0106', 'B011', 'C001', 'C002', 'C003', 'C004', 'C005', 'C0051', 'C0052', 'C0053', 'C006', 'C007', 'C007A', 'C007B', 'C007C', 'C007D', 'C007E', 'C007E1', 'C007E2', 'C007F', 'C008', 'C009', 'C009A', 'C010', 'C0101', 'C01011', 'C01012', 'C0102', 'C01021', 'C01022', 'C0103', 'C0104', 'C011A', 'C011A1', 'C011A11', 'C011A12', 'C011A2', 'C011A21', 'C011A22', 'C012', 'C013', 'C014', 'C015', 'C016', 'C017A', 'D0011', 'D0013', 'D0021', 'D0023', 'D0031', 'D0033', 'D0041', 'D0043', 'D0051', 'D0053', 'D0061', 'D0063', 'D0071', 'D0073', 'E001', 'E0021', 'E0022', 'E0023', 'E0024', 'F001', 'F0021', 'F0022', 'F002A1', 'F002A2', 'F002A3', 'F002A4', 'F002A5', 'F0061', 'F006']
['Ano', 'UF', 'CAPITAL', 'RM_RIDE', 'V1008', 'V1012', 'V1013', 'V1016', 'Estrato', 'UPA', 'V1022', 'V1023', 'V1030', 'V1031', 'V1032', 'posest', 'A001', 'A001A', 'A001B1', 'A001B2', 'A001B3', 'A002', 'A003', 'A004', 'A005', 'A006', 'A007', 'A008', 'A009', 'B0011', 'B0012', 'B0013', 'B0014', 'B0015', 'B0016', 'B0017', 'B0018', 'B0019', 'B00110', 'B00111', 'B00112', 'B00113', 'B002', 'B0031', 'B0032', 'B0033', 'B0034', 'B0035', 'B0036', 'B0037', 'B0041', 'B0042', 'B0043', 'B0044', 'B0045', 'B0046', 'B005', 'B006', 'B007', 'B008', 'B009A', 'B009B', 'B009C', 'B009D', 'B009E', 'B009F', 'B0101', 'B0102', 'B0103', 'B0104', 'B0105', 'B0106', 'B011', 'C001', 'C002', 'C003', 'C004', 'C005', 'C0051', 'C0052', 'C0053', 'C006', 'C007', 'C007A', 'C007B', 'C007C', 'C007D', 'C007E', 'C007E1', 'C007E2', 'C007F', 'C008', 'C009', 'C009A', 'C010', 'C0101', 'C01011', 'C01012', 'C0102', 'C01021', 'C01022', 'C0103', 'C0104', 'C011A', 'C011A1', 'C011A11', 'C011A12', 'C011A2', 'C011A21', 'C011A22', 'C012', 'C013', 'C014', 'C015', 'C016', 'C017A', 'D0011', 'D0013', 'D0021', 'D0023', 'D0031', 'D0033', 'D0041', 'D0043', 'D0051', 'D0053', 'D0061', 'D0063', 'D0071', 'D0073', 'E001', 'E0021', 'E0022', 'E0023', 'E0024', 'F001', 'F0021', 'F0022', 'F002A1', 'F002A2', 'F002A3', 'F002A4', 'F002A5', 'F0061', 'F006']
['Ano', 'UF', 'CAPITAL', 'RM_RIDE', 'V1008', 'V1012', 'V1013', 'V1016', 'Estrato', 'UPA', 'V1022', 'V1023', 'V1030', 'V1031', 'V1032', 'posest', 'A001', 'A001A', 'A001B1', 'A001B2', 'A001B3', 'A002', 'A003', 'A004', 'A005', 'A006', 'A007', 'A008', 'A009', 'B0011', 'B0012', 'B0013', 'B0014', 'B0015', 'B0016', 'B0017', 'B0018', 'B0019', 'B00110', 'B00111', 'B00112', 'B00113', 'B002', 'B0031', 'B0032', 'B0033', 'B0034', 'B0035', 'B0036', 'B0037', 'B0041', 'B0042', 'B0043', 'B0044', 'B0045', 'B0046', 'B005', 'B006', 'B007', 'B008', 'B009A', 'B009B', 'B009C', 'B009D', 'B009E', 'B009F', 'B0101', 'B0102', 'B0103', 'B0104', 'B0105', 'B0106', 'B011', 'C001', 'C002', 'C003', 'C004', 'C005', 'C0051', 'C0052', 'C0053', 'C006', 'C007', 'C007A', 'C007B', 'C007C', 'C007D', 'C007E', 'C007E1', 'C007E2', 'C007F', 'C008', 'C009', 'C009A', 'C010', 'C0101', 'C01011', 'C01012', 'C0102', 'C01021', 'C01022', 'C0103', 'C0104', 'C011A', 'C011A1', 'C011A11', 'C011A12', 'C011A2', 'C011A21', 'C011A22', 'C012', 'C013', 'C014', 'C015', 'C016', 'C017A', 'D0011', 'D0013', 'D0021', 'D0023', 'D0031', 'D0033', 'D0041', 'D0043', 'D0051', 'D0053', 'D0061', 'D0063', 'D0071', 'D0073', 'E001', 'E0021', 'E0022', 'E0023', 'E0024', 'F001', 'F0021', 'F0022', 'F002A1', 'F002A2', 'F002A3', 'F002A4', 'F002A5', 'F0061', 'F006']
['Ano', 'UF', 'CAPITAL', 'RM_RIDE', 'V1008', 'V1012', 'V1013', 'V1016', 'Estrato', 'UPA', 'V1022', 'V1023', 'V1030', 'V1031', 'V1032', 'posest', 'A001', 'A001A', 'A001B1', 'A001B2', 'A001B3', 'A002', 'A003', 'A004', 'A005', 'A006', 'A007', 'A008', 'A009', 'B0011', 'B0012', 'B0013', 'B0014', 'B0015', 'B0016', 'B0017', 'B0018', 'B0019', 'B00110', 'B00111', 'B00112', 'B00113', 'B002', 'B0031', 'B0032', 'B0033', 'B0034', 'B0035', 'B0036', 'B0037', 'B0041', 'B0042', 'B0043', 'B0044', 'B0045', 'B0046', 'B005', 'B006', 'B007', 'B008', 'B009A', 'B009B', 'B009C', 'B009D', 'B009E', 'B009F', 'B0101', 'B0102', 'B0103', 'B0104', 'B0105', 'B0106', 'B011', 'C001', 'C002', 'C003', 'C004', 'C005', 'C0051', 'C0052', 'C0053', 'C006', 'C007', 'C007A', 'C007B', 'C007C', 'C007D', 'C007E', 'C007E1', 'C007E2', 'C007F', 'C008', 'C009', 'C009A', 'C010', 'C0101', 'C01011', 'C01012', 'C0102', 'C01021', 'C01022', 'C0103', 'C0104', 'C011A', 'C011A1', 'C011A11', 'C011A12', 'C011A2', 'C011A21', 'C011A22', 'C012', 'C013', 'C014', 'C015', 'C016', 'C017A', 'D0011', 'D0013', 'D0021', 'D0023', 'D0031', 'D0033', 'D0041', 'D0043', 'D0051', 'D0053', 'D0061', 'D0063', 'D0071', 'D0073', 'E001', 'E0021', 'E0022', 'E0023', 'E0024', 'F001', 'F0021', 'F0022', 'F002A1', 'F002A2', 'F002A3', 'F002A4', 'F002A5', 'F0061', 'F006']

In [15]:
#find common columns on dfs
common_columns = list(set.intersection(*(set(df.columns.tolist()) for df in dfs)))
len(common_columns)

114

In [17]:
# Concatenate all data (only columns on common_columns) into one DataFrame create a column with the name of the table
df = pd.concat([df[common_columns].assign(table=table) for table, df in zip(list_tables, dfs)])
df.shape

(2650459, 115)

In [18]:
#sum the number of lines of all dfs
num_lines = 0
for df in dfs:
    num_lines += df.shape[0]
num_lines

2650459

In [19]:
df

,Ano,UF,CAPITAL,RM_RIDE,V1008,V1012,V1013,V1016,Estrato,UPA,...,F001,F0021,F0022,F002A1,F002A2,F002A3,F002A4,F002A5,F0061,F006
0,2020,11,11.0,NaN,1,4,9,5,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,1.0
1,2020,11,11.0,NaN,1,4,9,5,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,1.0
2,2020,11,11.0,NaN,1,4,9,5,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,1.0
3,2020,11,11.0,NaN,1,4,9,5,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,1.0
4,2020,11,11.0,NaN,2,1,9,5,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
387293,2020,53,53.0,NaN,6,3,9,5,5310220,530009738,...,1,NaN,NaN,1,1,1,2,1,1,3.0
387294,2020,53,53.0,NaN,6,3,9,5,5310220,530009738,...,1,NaN,NaN,1,1,1,2,1,1,3.0
387295,2020,53,53.0,NaN,6,3,9,5,5310220,530009738,...,1,NaN,NaN,1,1,1,2,1,1,3.0
387296,2020,53,53.0,NaN,10,2,9,5,5310220,530009738,...,5,NaN,NaN,1,1,1,1,1,1,2.0
387297,2020,53,53.0,NaN,10,2,9,5,5310220,530009738,...,5,NaN,NaN,1,1,1,1,1,1,2.0

In [22]:
#NaN is string converted to float
df.replace('NaN', float('nan'), inplace=True)

In [23]:
#drop NaN columns
df.dropna(axis=1, how='all', inplace=True)

In [25]:
df['F0021']

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
          ..
387293   NaN
387294   NaN
387295   NaN
387296   NaN
387297   NaN
Name: F0021, Length: 387298, dtype: float64

In [28]:
#check Nan values
df.isna().sum()

Ano             0
UF              0
CAPITAL    297019
RM_RIDE    265045
V1008           0
            ...
F002A3          0
F002A4          0
F002A5          0
F0061           0
F006        20168
Length: 145, dtype: int64

In [29]:
#drop columns with have any NaN value
df.dropna(axis=1, how='any', inplace=True)

In [30]:
df

,Ano,UF,V1008,V1012,V1013,V1016,Estrato,UPA,V1022,V1023,...,D0061,D0071,E001,F001,F002A1,F002A2,F002A3,F002A4,F002A5,F0061
0,2020,11,1,4,9,5,1110011,110015970,1,1,...,2,2,3,1,1,1,1,2,1,1
1,2020,11,1,4,9,5,1110011,110015970,1,1,...,2,2,3,1,1,1,1,2,1,1
2,2020,11,1,4,9,5,1110011,110015970,1,1,...,2,2,3,1,1,1,1,2,1,1
3,2020,11,1,4,9,5,1110011,110015970,1,1,...,2,2,3,1,1,1,1,2,1,1
4,2020,11,2,1,9,5,1110011,110015970,1,1,...,2,2,3,1,1,1,1,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
387293,2020,53,6,3,9,5,5310220,530009738,2,1,...,2,2,3,1,1,1,1,2,1,1
387294,2020,53,6,3,9,5,5310220,530009738,2,1,...,2,2,3,1,1,1,1,2,1,1
387295,2020,53,6,3,9,5,5310220,530009738,2,1,...,2,2,3,1,1,1,1,2,1,1
387296,2020,53,10,2,9,5,5310220,530009738,2,1,...,2,2,3,5,1,1,1,1,1,1
387297,2020,53,10,2,9,5,5310220,530009738,2,1,...,2,2,3,5,1,1,1,1,1,1

In [42]:
df.columns

Index(['Ano', 'UF', 'V1008', 'V1012', 'V1013', 'V1016', 'Estrato', 'UPA',
       'V1022', 'V1023', 'V1030', 'V1031', 'V1032', 'posest', 'A001', 'A001A',
       'A001B1', 'A001B2', 'A001B3', 'A002', 'A003', 'A004', 'A005', 'B0011',
       'B0012', 'B0013', 'B0014', 'B0015', 'B0016', 'B0017', 'B0018', 'B0019',
       'B00110', 'B00111', 'B00112', 'B00113', 'B007', 'B008', 'B0101',
       'B0102', 'B0103', 'B0104', 'B0105', 'B0106', 'B011', 'D0011', 'D0021',
       'D0031', 'D0041', 'D0051', 'D0061', 'D0071', 'E001', 'F001', 'F002A1',
       'F002A2', 'F002A3', 'F002A4', 'F002A5', 'F0061'],
      dtype='object')

In [65]:
#read a xlsx file
df2 = pd.read_excel('../dados_projeto/documentacao/Dicionario_PNAD_COVID_112020_20220621.xls', sheet_name='dicionário pnad covid')

In [66]:
#df2 only columns Unnamed: 1 and Unnamed: 3
df2 = df2[['Unnamed: 1', 'Unnamed: 3']]

In [67]:
#drop NaN rows
df2.dropna(axis=0, how='any', inplace=True)

In [68]:
df2

    Unnamed: 1                                         Unnamed: 3
3          Ano                                  Ano de referência
4           UF                               Unidade da Federação
31     CAPITAL                                            Capital
58     RM_RIDE  Região Metropolitana e Região Administrativa I...
79       V1008                     Número de seleção do domicílio
..         ...                                                ...
646     F002A3  No seu domicílio há os seguintes itens básicos...
649     F002A4  No seu domicílio há os seguintes itens básicos...
652     F002A5  No seu domicílio há os seguintes itens básicos...
655      F0061                    Quem respondeu ao questionário?
658       F006  Número de ordem do morador que prestou as info...

[148 rows x 2 columns]

In [69]:
#create a dict with columns names and description
dict_columns = {}
for index, row in df2.iterrows():
    dict_columns[row['Unnamed: 1']] = row['Unnamed: 3']
dict_columns

{'Ano': 'Ano de referência',
 'UF': 'Unidade da Federação',
 'CAPITAL': 'Capital',
 'RM_RIDE': 'Região Metropolitana e Região Administrativa Integrada\nde Desenvolvimento',
 'V1008': 'Número de seleção do domicílio',
 'V1012': 'Semana no mês',
 'V1013': 'Mês da pesquisa',
 'V1016': 'Número da entrevista no domicílio',
 'Estrato': 'Estrato',
 'UPA': 'UPA',
 'V1022': 'Situação do domicílio',
 'V1023': 'Tipo de área',
 'V1030': 'Projeção da população',
 'V1031': 'Peso do domicílio e das pessoas',
 'V1032': 'Peso do domicílio e das pessoas',
 'posest': 'Domínios de projeção',
 'A001': 'Número de ordem',
 'A001A': 'Condição no domicílio',
 'A001B1': 'Dia de nascimento',
 'A001B2': 'Mês de nascimento',
 'A001B3': 'Ano de nascimento',
 'A002': 'Idade do morador ',
 'A003': 'Sexo',
 'A004': 'Cor ou raça',
 'A005': 'Escolaridade',
 'A006': 'Frequenta escola',
 'A006A': 'A escola / escola ou faculdade que frequenta é pública ou privada?',
 'A006B': 'Você está tendo aulas presenciais?',
 'A007': 'Na semana passada, _____ foram disponibilizadas atividades escolares para realizar em casa?',
 'A007A': 'Por que não realizou as atividades disponibilizadas na semana passada?',
 'A008': 'Na semana passada, em quantos dias _____ dedicou-se às atividades escolares? ',
 'A009': 'Na semana passada, quanto tempo por dia ____ gastou fazendo as atividades escolares?  escolares? ',
 'B0011': 'Na semana passada teve febre?',
 'B0012': 'Na semana passada teve tosse?',
 'B0013': 'Na semana passada teve dor de garganta?',
 'B0014': 'Na semana passada teve dificuldade para respirar?',
 'B0015': 'Na semana passada teve dor de cabeça?',
 'B0016': 'Na semana passada teve dor no peito?',
 'B0017': 'Na semana passada teve náusea?',
 'B0018': 'Na semana passada teve nariz entupido ou escorrendo?',
 'B0019': 'Na semana passada teve fadiga?',
 'B00110': 'Na semana passada teve dor nos olhos?',
 'B00111': 'Na semana passada teve perda de cheiro ou sabor?',
 'B00112': 'Na semana passada teve dor muscular?',
 'B00113': 'Na semana passada teve diarreia?',
 'B002': 'Por causa disso, foi a algum estabelecimento de saúde?',
 'B0031': 'Providência tomada para recuperar dos sintomas foi ficar em casa',
 'B0032': 'Providência tomada para recuperar dos sintomas foi ligar para algum profissional de saúde',
 'B0033': 'Providência tomada  para recuperar dos sintomas foi comprar e/ou tomar  remédio por conta própria',
 'B0034': 'Providência tomada para recuperar dos sintomas foi comprar e/ou tomar remédio por orientação médica',
 'B0035': 'Providência tomada para recuperar dos sintomas foi receber visita de algum profissional de saúde do SUS (equipe de saúde da família, agente comunitário, etc.)',
 'B0036': 'Providência tomada para recuperar dos sintomas foi receber visita de profissional de saúde particular ',
 'B0037': 'Providência tomada para recuperar dos sintomas foi outra',
 'B0041': 'Local que buscou atendimento foi posto de saúde/Unidade básica de saúde /Equipe de Saúde da Família (médico, enfermeiro, técnico de enfermagem ou agente comunitário de saúde)',
 'B0042': 'Local que buscou atendimento foi pronto socorro do SUS/UPA',
 'B0043': 'Local que buscou atendimento foi hospital do SUS',
 'B0044': 'Local que buscou atendimento foi ambulatório ou consultório privado ou ligado às forças armadas',
 'B0045': 'Local que buscou atendimento foi pronto socorro privado ou ligado às forças armadas',
 'B0046': 'Local que buscou atendimento foi hospital privado ou ligado às forças armadas',
 'B005': 'Ao procurar o hospital, teve que ficar internado por um dia ou mais',
 'B006': 'Durante a internação, foi sedado, entubado e colocado em respiração artificial com ventilador',
 'B007': 'Tem algum plano de saúde médico, seja particular, de empresa ou de órgão público',
 'B008': 'O(A) Sr(a) fez algum teste para saber se estava infectado(a) pelo coronavírus? ',
 'B009A': 'Fez o exame coletado com cotonete na boca e/ou nariz (SWAB)? ',
 'B009B': 'Qual o resultado?',
 'B009C': 'Fez o exame de coleta de sangue através de furo no dedo?',
 'B009D': 'Qual o resultado?',
 'B009E': 'Fez o exame de coleta de sangue através da veia da braço?',
 'B009F': 'Qual o resultado?',
 'B0101': 'Algum médico já lhe deu o diagnóstico de diabetes?',
 'B0102': 'Algum médico já lhe deu o diagnóstico de hipertensão?',
 'B0103': 'Algum médico já lhe deu o diagnóstico de asma/bronquite/enfisema/doenças respiratória crônica ou doença de pulmão?',
 'B0104': 'Algum médico já lhe deu o diagnóstico de doenças do coração (infarto, angina, insuficiência cardíaca, arritmia)?',
 'B0105': 'Algum médico já lhe deu o diagnóstico de depressão?',
 'B0106': 'Algum médico já lhe deu o diagnóstico de câncer?',
 'B011': 'Qual foi o resultado do teste?  Na semana passada, devido à pandemia do Coronavírus, em que medida o(a) Sr(a) restringiu o contato com as pessoas? ',
 'C001': 'Na semana passada, por pelo menos uma hora, trabalhou ou fez algum bico?',
 'C002': 'Na semana passada, estava temporariamente afastado de algum trabalho?',
 'C003': 'Qual o principal motivo deste afastamento temporário?',
 'C004': 'Continuou a ser remunerado (mesmo que parcialmente) por esse trabalho',
 'C005': 'Há quanto tempo está afastado desse trabalho?',
 'C0051': ' tempo que estava afastado (De 1 mês a menos de 1 ano) ',
 'C0052': 'tempo que estava afastado (De 1 ano a menos de 2 anos) ',
 'C0053': 'tempo que estava afastado (de 02 anos a 98 anos) ',
 'C006': 'Tem mais de um trabalho',
 'C007': 'No trabalho (único ou principal) que tinha nessa semana, era:',
 'C007A': 'Esse trabalho era na área:',
 'C007B': 'Tem carteira de trabalho assinada ou é funcionário público estatutário?',
 'C007C': 'Que tipo de trabalho, cargo ou função você realiza no seu trabalho (único ou principal)? ',
 'C007D': 'Qual é a principal atividade do local ou empresa em que você trabalha? ',
 'C007E': 'Na semana passada, quantos empregados trabalhavam nesse negócio/empresa que ... tinha ?',
 'C007E1': '1 a 5 empregados',
 'C007E2': '6 a 10 empregados',
 'C007F': 'No trabalho (único ou principal) que tinha nessa semana, o(a) Sr(a) estava com o contrato de trabalho suspenso?',
 'C008': 'Quantas horas, por semana, normalmente trabalhava?',
 'C009': 'Quantas horas, na semana passada, de fato trabalhou?',
 'C009A': 'Na semana passada, o(a) Sr(a) gostaria de ter trabalhado mais horas do que as de fato trabalhadas? ',
 'C010': 'Quanto recebia (ou retirava) normalmente em todos os seus trabalhos',
 'C0101': 'Recebia/retirava normalmente em dinheiro',
 'C01011': 'Número da faixa do rendimento/retirada em dinheiro',
 'C01012': 'Valor em dinheiro',
 'C0102': 'Recebia normalmente em produtos e mercadorias',
 'C01021': 'Número da faixa do rendimento/retirada em produtos e mercadorias',
 'C01022': 'Valor em produtos e mercadorias',
 'C0103': 'Recebia normalmente somente em benefícios',
 'C0104': 'Era não remunerado',
 'C011A': 'Quanto recebia (ou retirava) efetivamente em todos os seus trabalhos',
 'C011A1': 'Recebia/retirava efetivamente em dinheiro',
 'C011A11': 'Número da faixa do rendimento/retirada em dinheiro',
 'C011A12': 'Valor em dinheiro',
 'C011A2': 'Recebia efetivamente em produtos e mercadorias',
 'C011A21': 'Número da faixa do rendimento/retirada em produtos e mercadorias',
 'C011A22': 'Valor em produtos e mercadorias',
 'C012': 'Na maior parte do tempo, na semana passada, esse trabalho (único ou principal) foi exercido no mesmo local em que costuma trabalhar? ',
 'C013': 'Na semana passada, o(a) Sr(a) estava em trabalho remoto (home office ou teletrabalho)?',
 'C014': 'O(A) Sr(a) contribui para o INSS?  ',
 'C015': 'Na semana passada ___ tomou alguma providência efetiva para conseguir trabalho?  ',
 'C016': 'Qual o principal motivo de não ter procurado trabalho na semana passada? ',
 'C017A': 'Embora você não tenha procurado trabalho, gostaria de ter trabalhado na semana passada?',
 'D0011': 'Rendimento recebido de aposentadoria e pensão por todos os moradores',
 'D0013': 'Somatório dos valores recebidos',
 'D0021': 'Rendimento de pensão alimentícia, doação ou mesada em dinheiro de pessoa que não morava no domicílio',
 'D0023': 'Somatório dos valores recebidos',
 'D0031': 'Rendimentos de Programa Bolsa Família',
 'D0033': 'Somatório dos valores recebidos',
 'D0041': ' No mês de ... (mês de referência), ... recebeu rendimentos de Benefício Assistencial de Prestação Continuada – BPC-LOAS?',
 'D0043': 'Somatório dos valores recebidos',
 'D0051': 'Auxílios emergenciais relacionados ao coronavirus',
 'D0053': 'Somatório dos valores recebidos',
 'D0061': 'Seguro desemprego',
 'D0063': 'Somatório dos valores recebidos',
 'D0071': 'Outros rendimentos, como aluguel, arrendamento, previdência privada, bolsa de estudos, rendimentos de aplicação financeira etc.',
 'D0073': 'Somatório dos valores recebidos',
 'E001': 'Durante o período da pandemia alguém deste domicílio solicitou algum empréstimo?  ',
 'E0021': 'Este empréstimo foi adquirido com banco ou financeira',
 'E0022': 'Este empréstimo foi adquirido com parente ou amigo',
 'E0023': 'Este empréstimo foi adquirido com empregados ou patrão',
 'E0024': 'Este empréstimo foi adquirido com outro local ou pessoa',
 'F001': 'Este domicílio é: ',
 'F0021': 'Qual foi o valor mensal do aluguel pago, ou que deveria ter sido pago, no mês de referência?',
 'F0022': 'Número da faixa do aluguel pago',
 'F002A1': 'No seu domicílio há os seguintes itens básicos de limpeza e proteção: sabão ou detergente',
 'F002A2': 'No seu domicílio há os seguintes itens básicos de limpeza e proteção: álcool 70% ou superior (gel ou líquido)',
 'F002A3': 'No seu domicílio há os seguintes itens básicos de limpeza e proteção: máscaras',
 'F002A4': 'No seu domicílio há os seguintes itens básicos de limpeza e proteção: luvas descartáveis',
 'F002A5': 'No seu domicílio há os seguintes itens básicos de limpeza e proteção: água sanitária ou desinfetante',
 'F0061': 'Quem respondeu ao questionário?',
 'F006': 'Número de ordem do morador que prestou as informações'}

In [70]:
#count keys on dict_columns
len(dict_columns.keys())

148

In [71]:
#remove keys from dict_columns that are not in common_columns
dict_columns = {key: dict_columns[key] for key in dict_columns.keys() & common_columns}
dict_columns

{'A002': 'Idade do morador ',
 'C0103': 'Recebia normalmente somente em benefícios',
 'C005': 'Há quanto tempo está afastado desse trabalho?',
 'C007': 'No trabalho (único ou principal) que tinha nessa semana, era:',
 'D0063': 'Somatório dos valores recebidos',
 'F006': 'Número de ordem do morador que prestou as informações',
 'V1023': 'Tipo de área',
 'B0046': 'Local que buscou atendimento foi hospital privado ou ligado às forças armadas',
 'C009': 'Quantas horas, na semana passada, de fato trabalhou?',
 'D0031': 'Rendimentos de Programa Bolsa Família',
 'RM_RIDE': 'Região Metropolitana e Região Administrativa Integrada\nde Desenvolvimento',
 'A001': 'Número de ordem',
 'B0013': 'Na semana passada teve dor de garganta?',
 'D0061': 'Seguro desemprego',
 'A003': 'Sexo',
 'C0104': 'Era não remunerado',
 'B0041': 'Local que buscou atendimento foi posto de saúde/Unidade básica de saúde /Equipe de Saúde da Família (médico, enfermeiro, técnico de enfermagem ou agente comunitário de saúde)',
 'C017A': 'Embora você não tenha procurado trabalho, gostaria de ter trabalhado na semana passada?',
 'C0101': 'Recebia/retirava normalmente em dinheiro',
 'C015': 'Na semana passada ___ tomou alguma providência efetiva para conseguir trabalho?  ',
 'D0073': 'Somatório dos valores recebidos',
 'D0033': 'Somatório dos valores recebidos',
 'B0037': 'Providência tomada para recuperar dos sintomas foi outra',
 'C002': 'Na semana passada, estava temporariamente afastado de algum trabalho?',
 'B0012': 'Na semana passada teve tosse?',
 'C011A1': 'Recebia/retirava efetivamente em dinheiro',
 'D0023': 'Somatório dos valores recebidos',
 'C007C': 'Que tipo de trabalho, cargo ou função você realiza no seu trabalho (único ou principal)? ',
 'V1013': 'Mês da pesquisa',
 'B0035': 'Providência tomada para recuperar dos sintomas foi receber visita de algum profissional de saúde do SUS (equipe de saúde da família, agente comunitário, etc.)',
 'C011A': 'Quanto recebia (ou retirava) efetivamente em todos os seus trabalhos',
 'B0033': 'Providência tomada  para recuperar dos sintomas foi comprar e/ou tomar  remédio por conta própria',
 'C0052': 'tempo que estava afastado (De 1 ano a menos de 2 anos) ',
 'C0053': 'tempo que estava afastado (de 02 anos a 98 anos) ',
 'B0011': 'Na semana passada teve febre?',
 'B0042': 'Local que buscou atendimento foi pronto socorro do SUS/UPA',
 'C0102': 'Recebia normalmente em produtos e mercadorias',
 'C01012': 'Valor em dinheiro',
 'C0051': ' tempo que estava afastado (De 1 mês a menos de 1 ano) ',
 'B00110': 'Na semana passada teve dor nos olhos?',
 'B002': 'Por causa disso, foi a algum estabelecimento de saúde?',
 'F0061': 'Quem respondeu ao questionário?',
 'C003': 'Qual o principal motivo deste afastamento temporário?',
 'C004': 'Continuou a ser remunerado (mesmo que parcialmente) por esse trabalho',
 'A001B2': 'Mês de nascimento',
 'Ano': 'Ano de referência',
 'C011A21': 'Número da faixa do rendimento/retirada em produtos e mercadorias',
 'C016': 'Qual o principal motivo de não ter procurado trabalho na semana passada? ',
 'B0017': 'Na semana passada teve náusea?',
 'V1012': 'Semana no mês',
 'C007A': 'Esse trabalho era na área:',
 'F0022': 'Número da faixa do aluguel pago',
 'C01021': 'Número da faixa do rendimento/retirada em produtos e mercadorias',
 'V1022': 'Situação do domicílio',
 'B0043': 'Local que buscou atendimento foi hospital do SUS',
 'Estrato': 'Estrato',
 'D0021': 'Rendimento de pensão alimentícia, doação ou mesada em dinheiro de pessoa que não morava no domicílio',
 'C012': 'Na maior parte do tempo, na semana passada, esse trabalho (único ou principal) foi exercido no mesmo local em que costuma trabalhar? ',
 'V1031': 'Peso do domicílio e das pessoas',
 'B0036': 'Providência tomada para recuperar dos sintomas foi receber visita de profissional de saúde particular ',
 'C007D': 'Qual é a principal atividade do local ou empresa em que você trabalha? ',
 'C006': 'Tem mais de um trabalho',
 'C007E1': '1 a 5 empregados',
 'C008': 'Quantas horas, por semana, normalmente trabalhava?',
 'B006': 'Durante a internação, foi sedado, entubado e colocado em respiração artificial com ventilador',
 'B0014': 'Na semana passada teve dificuldade para respirar?',
 'B0018': 'Na semana passada teve nariz entupido ou escorrendo?',
 'C01022': 'Valor em produtos e mercadorias',
 'V1008': 'Número de seleção do domicílio',
 'UPA': 'UPA',
 'B0016': 'Na semana passada teve dor no peito?',
 'CAPITAL': 'Capital',
 'C010': 'Quanto recebia (ou retirava) normalmente em todos os seus trabalhos',
 'A001B3': 'Ano de nascimento',
 'D0053': 'Somatório dos valores recebidos',
 'C007E2': '6 a 10 empregados',
 'D0043': 'Somatório dos valores recebidos',
 'B0031': 'Providência tomada para recuperar dos sintomas foi ficar em casa',
 'B0015': 'Na semana passada teve dor de cabeça?',
 'B005': 'Ao procurar o hospital, teve que ficar internado por um dia ou mais',
 'C011A22': 'Valor em produtos e mercadorias',
 'C007E': 'Na semana passada, quantos empregados trabalhavam nesse negócio/empresa que ... tinha ?',
 'B0019': 'Na semana passada teve fadiga?',
 'D0071': 'Outros rendimentos, como aluguel, arrendamento, previdência privada, bolsa de estudos, rendimentos de aplicação financeira etc.',
 'V1032': 'Peso do domicílio e das pessoas',
 'V1016': 'Número da entrevista no domicílio',
 'D0051': 'Auxílios emergenciais relacionados ao coronavirus',
 'F001': 'Este domicílio é: ',
 'C013': 'Na semana passada, o(a) Sr(a) estava em trabalho remoto (home office ou teletrabalho)?',
 'B0044': 'Local que buscou atendimento foi ambulatório ou consultório privado ou ligado às forças armadas',
 'A001B1': 'Dia de nascimento',
 'B00111': 'Na semana passada teve perda de cheiro ou sabor?',
 'B0045': 'Local que buscou atendimento foi pronto socorro privado ou ligado às forças armadas',
 'D0013': 'Somatório dos valores recebidos',
 'V1030': 'Projeção da população',
 'A001A': 'Condição no domicílio',
 'D0011': 'Rendimento recebido de aposentadoria e pensão por todos os moradores',
 'F0021': 'Qual foi o valor mensal do aluguel pago, ou que deveria ter sido pago, no mês de referência?',
 'C01011': 'Número da faixa do rendimento/retirada em dinheiro',
 'B0034': 'Providência tomada para recuperar dos sintomas foi comprar e/ou tomar remédio por orientação médica',
 'D0041': ' No mês de ... (mês de referência), ... recebeu rendimentos de Benefício Assistencial de Prestação Continuada – BPC-LOAS?',
 'posest': 'Domínios de projeção',
 'B0032': 'Providência tomada para recuperar dos sintomas foi ligar para algum profissional de saúde',
 'B00112': 'Na semana passada teve dor muscular?',
 'C011A11': 'Número da faixa do rendimento/retirada em dinheiro',
 'A004': 'Cor ou raça',
 'B007': 'Tem algum plano de saúde médico, seja particular, de empresa ou de órgão público',
 'C007B': 'Tem carteira de trabalho assinada ou é funcionário público estatutário?',
 'C011A12': 'Valor em dinheiro',
 'C001': 'Na semana passada, por pelo menos uma hora, trabalhou ou fez algum bico?',
 'A005': 'Escolaridade',
 'UF': 'Unidade da Federação',
 'C014': 'O(A) Sr(a) contribui para o INSS?  ',
 'C011A2': 'Recebia efetivamente em produtos e mercadorias'}

In [72]:
#count keys on dict_columns
len(dict_columns.keys())

114

In [73]:
#create a new column with the description of the column
for column in common_columns:
    df[column] = df[column].astype(str) + ' - ' + dict_columns[column]

KeyError: 'C0103'